.comissoes_porcentagens{
    position: absolute;
	width: 600px;
	height: 109px;
	left: 30px;
	top: 9370px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_comissoes_porcentagens_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 620px;
	top: 9360px;
	
	background: #F0F0F0;
}

.label_comissoes_porcentagens_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 670px;
	top: 9330px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_comissoes_porcentagens_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 780px;
	top: 9360px;
	
	background: #F0F0F0;
}

.label_comissoes_porcentagens_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 830px;
	top: 9330px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_comissoes_comissionista_puro{
    position: absolute;
	width: 1200px;
	height: 109px;
	left: 100px;
	top: 9440px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_comissoes_comissionista_puro_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1110px;
	top: 9435px;
	
	background: #F0F0F0;
}

.label_comissoes_comissionista_puro_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1160px;
	top: 9400px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_comissoes_comissionista_puro_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1250px;
	top: 9435px;
	
	background: #F0F0F0;
}

.label_comissoes_comissionista_puro_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1300px;
	top: 9400px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_percentual{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 9470px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_percentual{
	position: absolute;
	width: 700px;
	height: 65px;
	left: 610px;
	top: 9490px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_percentual:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_periodicidade_pagamento{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 9620px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_periodicidade_pagamento{
	position: absolute;
	width: 550px;
	height: 65px;
	left: 925px;
	top: 9645px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_periodicidade_pagamento:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_valor_comissoes{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 9770px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_valor_comissoes{
	position: absolute;
	width: 600px;
	height: 65px;
	left: 835px;
	top: 9790px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_valor_comissoes:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_piso_salarial{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 9920px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_piso_salarial:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_piso_salarial_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 725px;
	top: 9955px;
	
	background: #F0F0F0;  
}

.label_piso_salarial_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 775px;
	top: 9920px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_piso_salarial_quanto{
	position: absolute;
	width: 200px;
	height: 65px;
	left: 1075px;
	top: 9938px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000; 
}

.label_piso_salarial_quanto{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 890px;
	top: 9920px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_piso_salarial_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1300px;
	top: 9955px;
	
	background: #F0F0F0;  
}

.label_piso_salarial_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1350px;
	top: 9920px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_salario_minimo{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 10070px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_salario_minimo:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_salario_minimo_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 980px;
	top: 10210px;
	
	background: #F0F0F0;  
}

.label_salario_minimo_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1030px;
	top: 10180px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_salario_minimo_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1120px;
	top: 10210px;
	
	background: #F0F0F0;  
}

.label_salario_minimo_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1170px;
	top: 10180px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_dsr{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 10300px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_dsr:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_dsr_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 850px;
	top: 10330px;
	
	background: #F0F0F0;  
}

.label_dsr_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 900px;
	top: 10300px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_dsr_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1020px;
	top: 10330px;
	
	background: #F0F0F0;  
}

.label_dsr_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1070px;
	top: 10300px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_acordo{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 10450px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_acordo:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_acordo_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1130px;
	top: 10480px;
	
	background: #F0F0F0;  
}

.label_acordo_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1180px;
	top: 10450px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_acordo_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1300px;
	top: 10480px;
	
	background: #F0F0F0;  
}

.label_acordo_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1350px;
	top: 10450px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.barra_lateral{
	position: absolute;
	width: 1100px;
	height: 0px;
	left: -470px;
	top: 9980px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_comissionista_misto{
	position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 10600px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_comissionista_misto:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_comissionista_misto_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1080px;
	top: 10630px;
	
	background: #F0F0F0;
}

.label_comissionista_misto_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1130px;
	top: 10600px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_comissionista_misto_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1250px;
	top: 10630px;
	
	background: #F0F0F0;
}

.label_comissionista_misto_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1300px;
	top: 10600px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_comissionista_salario_fixo{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 10750px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_comissionista_salario_fixo:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_comissionista_salario_fixo{
	position: absolute;
	width: 700px;
	height: 65px;
	left: 500px;
	top: 10775px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_comissionista_misto_salario_minimo{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 10900px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.label_comissionista_misto_salario_minimo:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_comissionista_misto_salario_minimo_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 750px;
	top: 11040px;
	
	background: #F0F0F0;
}

.label_comissionista_misto_salario_minimo_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 800px;
	top: 11010px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_comissionista_misto_salario_minimo_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 900px;
	top: 11040px;
	
	background: #F0F0F0;
}

.label_comissionista_misto_salario_minimo_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 950px;
	top: 11010px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_comissionista_misto_dsr{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 11150px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.label_comissionista_misto_dsr:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_comissionista_misto_dsr_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1000px;
	top: 11180px;
	
	background: #F0F0F0;
}

.label_comissionista_misto_dsr_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1050px;
	top: 11150px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_comissionista_misto_dsr_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1150px;
	top: 11180px;
	
	background: #F0F0F0;
}

.label_comissionista_misto_dsr_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1200px;
	top: 11150px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_comissionista_misto_acordo{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 11300px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.label_comissionista_misto_acordo:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_comissionista_misto_acordo_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 880px;
	top: 11330px;
	
	background: #F0F0F0;
}

.label_comissionista_misto_acordo_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 930px;
	top: 11300px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_comissionista_misto_acordo_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1050px;
	top: 11330px;
	
	background: #F0F0F0;
}

.label_comissionista_misto_acordo_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1100px;
	top: 11300px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.barra_lateral_2{
	position: absolute;
	width: 800px;
	height: 0px;
	left: -320px;
	top: 11000px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.remuneracao{
	position: absolute;
	width: 1300px;
	height: 94px;
	left: 30px;
	top: 11450px;

	
	background: #BEA469;
	border-radius: 40px;

	text-align: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 109px;
	color: #FFFFFF;
}

.label_gorjetas{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 11550px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_gorjetas_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 250px;
	top: 11585px;
	
	background: #F0F0F0;
}

.label_gorjetas_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 300px;
	top: 11555px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_gorjetas_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 400px;
	top: 11585px;
	
	background: #F0F0F0;
}

.label_gorjetas_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 450px;
	top: 11555px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_supressao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 11650px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_supressao:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_supressao_sim{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 950px;
	top: 11680px;
	
	background: #F0F0F0;
}

.label_supressao_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1000px;
	top: 11650px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_supressao_nao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 1150px;
	top: 11680px;
	
	background: #F0F0F0;
}

.label_supressao_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1200px;
	top: 11650px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_periodo{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 11800px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_periodo:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_periodo{
	position: absolute;
	width: 700px;
	height: 65px;
	left: 450px;
	top: 11825px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.titulo_extincao_contrato{
	position: absolute;
	width: 1242px;
	height: 84px;
	left: 15px;
	top: 12000px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 78px;

	color: #454242;
}

.titulo_extincao_contrato:after{
	content: "";
	display: block;
	width: 1400px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_demissao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 12120px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_demissao{
	position: absolute;
	width: 700px;
	height: 65px;
	left: 250px;
	top: 12140px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_pedido_demissao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 80px;
	top: 12200px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_pedido_demissao{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 30px;
	top: 12230px;
	
	background: #F0F0F0;
}

.label_sem_justa_causa{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 550px;
	top: 12200px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_sem_justa_causa{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 500px;
	top: 12230px;
	
	background: #F0F0F0;
}

.label_por_justa_causa{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1000px;
	top: 12200px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_por_justa_causa{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 950px;
	top: 12230px;
	
	background: #F0F0F0;
}

.label_distrato{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 80px;
	top: 12300px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_distrato{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 30px;
	top: 12330px;
	
	background: #F0F0F0;
}

.label_recisao_direta{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 640px;
	top: 12300px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_recisao_direta{
    position: absolute;
	width: 45px;
	height: 45px;
	left: 590px;
	top: 12330px;
	
	background: #F0F0F0;
}

.label_demissao_outro{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 12370px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_demissao_outro{
	position: absolute;
	width: 400px;
	height: 65px;
	left: 200px;
	top: 12400px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_descreva_motivo{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 12470px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_descreva_motivo:before{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.textarea_descreva_motivo{
	position: absolute;
	width: 1390px;
	height: 440px;
	left: 30px;
	top: 12570px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}