.titulo_ambiente_trabalho{
	position: absolute;
	width: 1242px;
	height: 84px;
	left: 15px;
	top: 30400px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 78px;

	color: #454242;
}

.titulo_ambiente_trabalho:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_ambiente_trabalho{
	position: absolute;
	width: 1300px;
	height: fit-content;
	left: 30px;
	top: 30550px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_ambiente_insalubre{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 80px;
	top: 30600px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_ambiente_insalubre{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 30px;
    top: 30630px;

    background: #F0F0F0;
}

.label_ambiente_periculoso{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 350px;
	top: 30600px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_ambiente_periculoso{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 300px;
    top: 30630px;

    background: #F0F0F0;
}

.label_ambiente_normal{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 650px;
	top: 30600px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_ambiente_normal{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 600px;
    top: 30630px;

    background: #F0F0F0;
}

.label_exposicao{
    position: absolute;
	width: 1300px;
	height: 109px;
	left: 30px;
	top: 30700px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_agentes_biologicos{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 80px;
	top: 30780px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_agentes_biologicos{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 30px;
	top: 30810px;

    background: #F0F0F0;
}

.label_poeira_amianto{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 80px;
	top: 30870px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_poeira_amianto{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 30px;
	top: 30900px;

    background: #F0F0F0;
}

.label_vibracao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 80px;
	top: 30960px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_vibracao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 30px;
	top: 30990px;

    background: #F0F0F0;
}

.label_agentes_quimicos{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 550px;
	top: 30780px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_agentes_quimicos{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 500px;
	top: 30810px;

    background: #F0F0F0;
}

.label_benzeno{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 550px;
	top: 30870px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_benzeno{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 500px;
	top: 30900px;

    background: #F0F0F0;
}

.label_inflamaveis{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 550px;
	top: 30960px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_inflamaveis{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 500px;
	top: 30990px;

    background: #F0F0F0;
}

.label_ruidos{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1000px;
	top: 30780px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_ruidos{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 950px;
	top: 30810px;

    background: #F0F0F0;
}

.label_umidade{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 800px;
	top: 30870px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_umidade{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 750px;
	top: 30900px;

    background: #F0F0F0;
}

.label_explosivos{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 850px;
	top: 30960px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_explosivos{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 800px;
	top: 30990px;

    background: #F0F0F0;
}

.label_calor{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1220px;
	top: 30780px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_calor{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1170px;
	top: 30810px;

    background: #F0F0F0;
}

.label_radiacao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1270px;
	top: 30870px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_radiacao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1220px;
	top: 30900px;

    background: #F0F0F0;
}

.label_energia_eletrica{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1150px;
	top: 30960px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 39px;
	line-height: 109px;
	
	color: #454242;
}

.input_energia_eletrica{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1100px;
	top: 30990px;

    background: #F0F0F0;
}

.label_roubos{
    position: absolute;
	width: 1390px;
	height: 109px;
	left: 80px;
	top: 31080px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_roubos{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 30px;
	top: 31080px;

    background: #F0F0F0;
}

.label_outros_riscos{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 31200px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_outros_riscos:after{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 40px auto;
}

.input_outros_riscos{
	position: absolute;
	width: 1200px;
	height: 65px;
	left: 190px;
	top: 31185px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_adicional_riscos{
    position: absolute;
	width: 1300px;
	height: 109px;
	left: 30px;
	top: 31300px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_adicional_riscos_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 80px;
	top: 31390px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_adicional_riscos_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 30px;
	top: 31380px;

    background: #F0F0F0;
}

.label_adicional_riscos_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 250px;
	top: 31390px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_adicional_riscos_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 200px;
	top: 31380px;

    background: #F0F0F0;
}

.label_sempre_recebeu{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 31450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_sempre_recebeu_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 550px;
	top: 31450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_sempre_recebeu_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 500px;
	top: 31480px;

    background: #F0F0F0;
}

.label_sempre_recebeu_parcialmente{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 750px;
	top: 31450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_sempre_recebeu_parcialmente{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 700px;
	top: 31480px;

    background: #F0F0F0;
}

.label_sempre_recebeu_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 1150px;
	top: 31450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_sempre_recebeu_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1100px;
	top: 31480px;

    background: #F0F0F0;
}

.label_recebeu_de{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 100px;
	top: 31540px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_recebeu_de{
	position: absolute;
	width: 320px;
	height: 65px;
	left: 350px;
	top: 31560px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_recebeu_a{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 700px;
	top: 31540px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_recebeu_a{
	position: absolute;
	width: 320px;
	height: 65px;
	left: 750px;
	top: 31560px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_insalubridade_adicional{
    position: absolute;
	width: 1300px;
	height: 109px;
	left: 100px;
	top: 31695px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_insalubridade_adicional{
	position: absolute;
	width: 180px;
	height: 65px;
	left: 1350px;
	top: 31680px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	color: #000000;
}

.label_periculosidade_30{
    position: absolute;
	width: 1300px;
	height: 200px;
	left: 100px;
	top: 31745px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_periculosidade_30_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 900px;
	top: 31710px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_periculosidade_30_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 850px;
	top: 31740px;

    background: #F0F0F0;
}

.label_periculosidade_30_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 1100px;
    top: 31710px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_periculosidade_30_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1050px;
	top: 31740px;

    background: #F0F0F0;
}

.label_periculosidade_contato{
    position: absolute;
	width: fit-content;
	height: 200px;
	left: 100px;
	top: 31800px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_periculosidade_contato_inter{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 150px;
	top: 31850px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_periculosidade_contato_inter{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
	top: 31880px;

    background: #F0F0F0;
}

.label_periculosidade_contato_permanente{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 850px;
    top: 31850px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_periculosidade_contato_permanente{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 800px;
	top: 31880px;

    background: #F0F0F0;
}

.barra_lateral13{
	position: absolute;
	width: 500px;
	height: 0px;
	left: -194px;
	top: 31700px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_epi{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 32000px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_epi_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 1280px;
	top: 32000px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_epi_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1230px;
	top: 32030px;

    background: #F0F0F0;
}

.label_epi_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 1430px;
	top: 32000px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_epi_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1380px;
	top: 32030px;

    background: #F0F0F0;
}

.label_epi_qual{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 32110px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_epi_qual{
	position: absolute;
	width: 1300px;
	height: 150px;
	left: 100px;
	top: 32150px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_treinamento{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 32350px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_treinamento{
	position: absolute;
	width: 900px;
	height: 65px;
	left: 600px;
	top: 32335px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_epi_subs{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 32450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_epi_subs{
	position: absolute;
	width: 1085px;
	height: 65px;
	left: 100px;
	top: 32490px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_epi_fiscalizacao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 32600px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_epi_fiscalizacao{
	position: absolute;
	width: 1085px;
	height: 65px;
	left: 100px;
	top: 32650px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.barra_lateral14{
	position: absolute;
	width: 600px;
	height: 0px;
	left: -245px;
	top: 32400px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_exames{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 32750px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_admissional{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 650px;
	top: 32750px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_admissional{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 600px;
	top: 32780px;

    background: #F0F0F0;
}

.label_periodico{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 980px;
	top: 32750px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_periodico{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 930px;
	top: 32780px;

    background: #F0F0F0;
}

.label_demissional{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 1250px;
	top: 32750px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_demissional{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1200px;
	top: 32780px;

    background: #F0F0F0;
}

.label_acidente{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 32850px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_acidente_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 1200px;
	top: 32850px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_acidente_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1150px;
	top: 32880px;

    background: #F0F0F0;
}

.label_acidente_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 1350px;
	top: 32850px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_acidente_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1300px;
	top: 32880px;

    background: #F0F0F0;
}

.label_data_acidente{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 33000px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_data_acidente{
	position: absolute;
	width: 300px;
	height: 65px;
	left: 480px;
	top: 32985px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_afastamento{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 33100px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_afastamento{
	position: absolute;
	width: 300px;
	height: 65px;
	left: 1050px;
	top: 33085px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_tempo_afastamento{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 33200px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_tempo_afastamento{
	position: absolute;
	width: 170px;
	height: 65px;
	left: 600px;
	top: 33185px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_data_retorno{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 800px;
	top: 33200px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_data_retorno{
	position: absolute;
	width: 220px;
	height: 65px;
	left: 1150px;
	top: 33185px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_comunicacao_acidente{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 33300px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_comunicacao_acidente{
	position: absolute;
	width: 300px;
	height: 65px;
	left: 1180px;
	top: 33285px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_dano{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 33360px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_dano_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 600px;
	top: 33360px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_dano_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 550px;
	top: 33390px;

    background: #F0F0F0;
}

.label_dano_qual{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 750px;
	top: 33360px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_dano_qual{
	position: absolute;
	width: 300px;
	height: 65px;
	left: 900px;
	top: 33385px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_dano_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 1350px;
	top: 33360px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_dano_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1300px;
	top: 33390px;

    background: #F0F0F0;
}

.label_despesas_medicas{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 100px;
	top: 33470px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_despesas_medicas{
	position: absolute;
	width: 1390px;
	height: 150px;
	left: 100px;
	top: 33550px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_supressao_plano{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 33730px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 39px;
	line-height: 35px;
	
	color: #454242;
}

.label_supressao_plano_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 150px;
	top: 33750px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_supressao_plano_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
	top: 33780px;

    background: #F0F0F0;
}

.label_supressao_plano_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
    left: 350px;
	top: 33750px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_supressao_plano_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 300px;
	top: 33780px;

    background: #F0F0F0;
}

.barra_lateral15{
	position: absolute;
	width: 900px;
	height: 0px;
	left: -396px;
	top: 33400px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_dano_moral{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 30px;
	top: 33900px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_dano_moral{
	position: absolute;
	width: 1390px;
	height: 364px;
	left: 30px;
	top: 33950px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_discriminacao{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 30px;
	top: 34350px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_discriminacao{
	position: absolute;
	width: 1390px;
	height: 364px;
	left: 30px;
	top: 34400px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}