/* Estilos Informações Preliminares */

.titulo_infos_preliminares{
	position: absolute;
	width: 1600px;
	height: 162px;
	left: -105px;
	top: 5700px;
	
	background: rgba(239, 239, 239, 0.79);
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 90px;
}

.titulo_infos_preliminares_txt{
	position: relative;
	width: fit-content;
	height: 95px;
	left: 420px;
	top: 25px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 98px;

	color: #454242;
}

.titulo_infos_preliminares_img{
	position: absolute;
	width: 186px;
	height: 108px;
	left: 173px;
	top: 31px;
}

.subtitulo_infos_preliminares_txt{
	position: relative;
	width: fit-content;
	height: 95px;
	left: 430px;
	top: -8px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 98px;

	color: black;
}

.input_checkbox_1{
	position: absolute;
	width: 52px;
	height: 52px;
	left: 100px;
	top: 5900px;
	
	background: #D9D9D9;	
}

.label_checkbox_1{
	position: absolute;
	width: 1341px;
	height: 109px;
	left: 160px;
	top: 5870px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;

	color: #000000;
}

.input_checkbox_2{
	position: absolute;
	width: 52px;
	height: 52px;
	left: 100px;
	top: 6000px;
	
	background: #D9D9D9;	
}

.label_checkbox_2{
	position: absolute;
	width: fit-content;
	height: 109px;
	left: 160px;
	top: 5970px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;

	color: #000000;
}

.input_checkbox_3{
	position: absolute;
	width: 52px;
	height: 52px;
	left: 100px;
	top: 6100px;
	
	background: #D9D9D9;	
}

.label_checkbox_3{
	position: absolute;
	width: fit-content;
	height: 109px;
	left: 160px;
	top: 6070px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;

	color: #000000;
}

.input_checkbox_4{
	position: absolute;
	width: 52px;
	height: 52px;
	left: 100px;
	top: 6200px;
	
	background: #D9D9D9;	
}

.label_checkbox_4{
	position: absolute;
	width: fit-content;
	height: 109px;
	left: 160px;
	top: 6170px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;

	color: #000000;
}