/* Estilos Gerais */

.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

/* Estilos Header */

.img_header{
	position: absolute;
	width: 1920px;
	height: 720px;
}

/* Estilos Títulos */
.titulo_partes{
	position: absolute;
	width: 912px;
	height: 162px;
	left: -105px;
	top: 806px;
	
	background: rgba(239, 239, 239, 0.79);
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 90px;
}

.titulo_partes_txt{
	position: absolute;
	width: 311px;
	height: 95px;
	left: 420px;
	top: 35px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 98px;

	color: #454242;
}

.titulo_partes_img{
	position: absolute;
	width: 186px;
	height: 108px;
	left: 173px;
	top: 31px;
}

.subtitulo_partes{
	position: absolute;
	width: 345px;
	height: 84px;
	left: 173px;
	top: 250px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 78px;
	
	color: #454242;
}

.subtitulo_partes:after{
	content: "";
	display: block;
	width: 1680px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;	
}

/* Estilos Formulário */

.label_nome{
	position: absolute;
	width: 125px;
	height: 109px;
	left: 73px;
	top: 1192px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 550;
	font-size: 40px;
	line-height: 109px;
	color: #000000;	
}

.label_nome:after{
	content: "";
	display: block;
	width: 1630px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_nome{
	position: absolute;
	width: 1474px;
	height: 65px;
	left: 225px;
	top: 1214px;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_data_nasc{
	position: absolute;
	width: fit-content;
	height: 109px;
	left: 73px;
	top: 1303px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 550;
	font-size: 40px;
	line-height: 109px;
	color: #454242;
}

.label_data_nasc:after{
	content: "";
	display: block;
	width: 1630px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_data_nasc{
	position: absolute;
	width: 300px;
	height: 65px;
	left: 520px;
	top: 1325px;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_nacionalidade{
	position: absolute;
	width: 185px;
	height: 109px;
	left: 73px;
	top: 1414px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 550;
	font-size: 40px;
	line-height: 109px;

	color: #454242;
}

.label_nacionalidade_sim{
	
	position: absolute;
	width: 78px;
	height: 109px;
	left: 350px;
	top: 1414px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;

	color: #000000;
}

.input_nacionalidade_sim{
	position: absolute;
	width: 45px;
	height: 45px;
	left: 300px;
	top: 1446px;
	
	background: #F0F0F0;	
}

.label_nacionalidade_nao{
	position: absolute;
	width: 82px;
	height: 109px;
	left: 530px;
	top: 1414px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #000000;	
}

.input_nacionalidade_nao{
	position: absolute;
	width: 45px;
	height: 45px;
	left: 480px;
	top: 1446px;
	
	background: #F0F0F0;	
}

.input_nacionalidade_outra{
	position: absolute;
	width: 500px;
	height: 65px;
	left: 1200px;
	top: 1440px;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;	
}

.label_nacionalidade_outra{
	position: absolute;
	width: fit-content;
	height: 109px;
	left: 700px;
	top: 1414px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 109px;
	
	color: #000000;	
}


























/* Media Query */
@media screen and (max-width: 768px) {
    body {
        background-color: blueviolet;
    }

    .menu ul li a{
        width: 100%;
        display: grid;
        text-align: center;
    }

    .footer{
		align-items: center;
        display: grid;
    }

	section {
		width: 100%;
	}

	.textarea{
		width: 90%;
		height: 100%;
	}
}













@media screen and (max-width:600px){
    body {
        background-color: brown;
    }
    
    .menu ul li a {
        width: 100%;
        display: grid;
    }

    .footer{
        display: grid;
    }

    .footer img {
        display: none;
    }
}