.titulo_jornada{
	position: absolute;
	width: 1242px;
	height: 84px;
	left: 15px;
	top: 24380px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 78px;

	color: #454242;
}

.titulo_jornada:after{
	content: "";
	display: block;
	width: 1400px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_informe_horario{
	position: absolute;
	width: 1300px;
	height: fit-content;
	left: 30px;
	top: 24530px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_preencher_quadro{
	position: absolute;
	width: 1390px;
	height: fit-content;
	left: 30px;
	top: 24630px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_quadro_horario{
	position: absolute;
	width: 1360px;
	height: 87px;
	left: 100px;
	top: 24730px;
	
	background: #BEA469;
	border-radius: 64px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 90px;
	color: #FFFFFF;
	text-align: center;
}

.label_seg{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 295px;
	top: 24790px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 109px;
	
	color: #000000;	
}

.label_ter{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 455px;
	top: 24790px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 109px;
	
	color: #000000;	
}

.label_qua{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 615px;
	top: 24790px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 109px;
	
	color: #000000;	
}

.label_qui{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 775px;
	top: 24790px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 109px;
	
	color: #000000;	
}

.label_sex{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 935px;
	top: 24790px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 109px;
	
	color: #000000;	
}

.label_sab{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 1095px;
	top: 24790px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 109px;
	
	color: #000000;	
}

.label_dom{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 1245px;
	top: 24790px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 109px;
	
	color: #000000;	
}

.label_entrada{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 120px;
	top: 24840px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 109px;
	
	color: #000000;	
}

.label_entrada_intervalo{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 120px;
	top: 24950px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	
	color: #000000;	
}

.label_saida_intervalo{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 120px;
	top: 25030px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	
	color: #000000;	
}

.label_saida{
	position: absolute;
	width: 63px;
	height: 109px;
	left: 120px;
	top: 25120px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	
	color: #000000;	
}

.input_ent_seg{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 260px;
    top: 24870px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_ter{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 420px;
    top: 24870px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_qua{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 580px;
    top: 24870px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_qui{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 740px;
    top: 24870px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_sex{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 900px;
    top: 24870px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_sab{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 1060px;
    top: 24870px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_dom{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 1220px;
    top: 24870px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_int_seg{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 260px;
    top: 24950px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_int_ter{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 420px;
    top: 24950px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_int_qua{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 580px;
    top: 24950px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_int_qui{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 740px;
    top: 24950px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_int_sex{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 900px;
    top: 24950px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_int_sab{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 1060px;
    top: 24950px;

    background: #F0F0F0;

    text-align: center;
}

.input_ent_int_dom{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 1220px;
    top: 24950px;

    background: #F0F0F0;

    text-align: center;
}

.input_sai_int_seg{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 260px;
    top: 25030px;

    background: #F0F0F0;

    text-align: center;
}

.input_sai_int_ter{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 420px;
    top: 25030px;

    background: #F0F0F0;

    text-align: center;
}

.input_sai_int_qua{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 580px;
    top: 25030px;

    background: #F0F0F0;

    text-align: center;
}

.input_sai_int_qui{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 740px;
    top: 25030px;

    background: #F0F0F0;

    text-align: center;
}

.input_sai_int_sex{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 900px;
    top: 25030px;

    background: #F0F0F0;

    text-align: center;
}

.input_sai_int_sab{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 1060px;
    top: 25030px;

    background: #F0F0F0;

    text-align: center;
}

.input_sai_int_dom{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 1220px;
    top: 25030px;

    background: #F0F0F0;

    text-align: center;
}

.input_saida_seg{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 260px;
    top: 25110px;

    background: #F0F0F0;

    text-align: center;
}

.input_saida_ter{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 420px;
    top: 25110px;

    background: #F0F0F0;

    text-align: center;
}

.input_saida_qua{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 580px;
    top: 25110px;

    background: #F0F0F0;

    text-align: center;
}

.input_saida_qui{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 740px;
    top: 25110px;

    background: #F0F0F0;

    text-align: center;
}

.input_saida_sex{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 900px;
    top: 25110px;

    background: #F0F0F0;

    text-align: center;
}

.input_saida_sab{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 1060px;
    top: 25110px;

    background: #F0F0F0;

    text-align: center;
}

.input_saida_dom{
    position: absolute;
    width: 130px;
    height: 45px;
    left: 1220px;
    top: 25110px;

    background: #F0F0F0;

    text-align: center;
}

.label_carga_horaria{
	position: absolute;
	width: 1360px;
	height: 87px;
	left: 100px;
	top: 25170px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #BEA469;
	border-radius: 64px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 90px;
	color: #FFFFFF;
	text-align: left;
}

.input_carga_horaria{
	position: absolute;
	width: 850px;
	height: 87px;
	left: 635px;
	top: 25170px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #ffffff;
	border: none;
	border-radius: 64px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 90px;
	color: black;
	text-align: left;
}

.label_horario_determinado{
    position: absolute;
	width: 1300px;
	height: 109px;
	left: 100px;
	top: 25285px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.input_horario_determinado{
	position: absolute;
	width: 1390px;
	height: 65px;
	left: 100px;
	top: 25325px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.barra_lateral7{
	position: absolute;
	width: 720px;
	height: 0px;
	left: -300px;
	top: 25030px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_registro_jornada{
    position: absolute;
	width: 1390px;
	height: 109px;
	left: 30px;
	top: 25450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_jornada_assinada{
    position: absolute;
	width: 1300px;
	height: 109px;
	left: 100px;
	top: 25510px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_jornada_manual{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 150px;
	top: 25530px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_jornada_manual{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
    top: 25560px;

    background: #F0F0F0;
}

.label_jornada_mecanico{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 410px;
	top: 25530px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_jornada_mecanico{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 360px;
    top: 25560px;

    background: #F0F0F0;
}

.label_jornada_eletronico{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 700px;
	top: 25530px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_jornada_eletronico{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 650px;
    top: 25560px;

    background: #F0F0F0;
}

.label_jornada_nenhum{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1000px;
	top: 25530px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_jornada_nenhum{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 950px;
    top: 25560px;

    background: #F0F0F0;
}

.label_quem_assinava{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 25620px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_quem_assinava:before{
	content: "";
	display: block;
	width: 1390px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_quem_assinava{
	position: absolute;
	width: 1300px;
	height: 65px;
	left: 100px;
	top: 25730px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_horarios_anotados{
    position: absolute;
	width: 1390px;
	height: 109px;
	left: 100px;
	top: 25850px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.label_horarios_anotados_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1050px;
	top: 25810px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_horarios_anotados_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1000px;
    top: 25840px;

    background: #F0F0F0;
}

.label_horarios_anotados_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1200px;
	top: 25810px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_horarios_anotados_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1150px;
    top: 25840px;

    background: #F0F0F0;
}

.label_20_fun{
    position: absolute;
	width: 1300px;
	height: 109px;
	left: 100px;
	top: 25950px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.label_20_fun_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 850px;
	top: 25910px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_20_fun_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 800px;
    top: 25940px;

    background: #F0F0F0;
}

.label_20_fun_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1000px;
	top: 25910px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_20_fun_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 950px;
    top: 25940px;

    background: #F0F0F0;
}

.barra_lateral8{
	position: absolute;
	width: 480px;
	height: 0px;
	left: -180px;
	top: 25750px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_int_intrajornada{
    position: absolute;
	width: 1300px;
	height: 109px;
	left: 30px;
	top: 26100px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_havia_horario{
    position: absolute;
	width: 1390px;
	height: 109px;
	left: 100px;
	top: 26160px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.input_havia_horario{
	position: absolute;
	width: 350px;
	height: 65px;
	left: 900px;
	top: 26140px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_anotacao_intervalo{
    position: absolute;
	width: 1000px;
	height: 109px;
	left: 100px;
	top: 26250px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_anotacao_intervalo_pre_assinado{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 150px;
	top: 26270px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_anotacao_intervalo_pre_assinado{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
    top: 26300px;

    background: #F0F0F0;
}

.label_anotacao_intervalo_manual{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 500px;
	top: 26270px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_anotacao_intervalo_manual{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 450px;
    top: 26300px;

    background: #F0F0F0;
}

.label_anotacao_intervalo_mecanico{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 750px;
	top: 26270px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_anotacao_intervalo_mecanico{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 700px;
    top: 26300px;

    background: #F0F0F0;
}

.label_anotacao_intervalo_eletronico{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1050px;
	top: 26270px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_anotacao_intervalo_eletronico{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1000px;
    top: 26300px;

    background: #F0F0F0;
}

.label_convencao_2{
    position: absolute;
	width: 1300px;
	height: 109px;
	left: 100px;
	top: 26390px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.input_convencao_2{
	position: absolute;
	width: 1300px;
	height: 65px;
	left: 100px;
	top: 26470px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.barra_lateral9{
	position: absolute;
	width: 405px;
	height: 0px;
	left: -150px;
	top: 26350px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_tempo_disposicao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 26600px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_prontidao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 26660px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_prontidao_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 550px;
	top: 26625px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_prontidao_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 500px;
    top: 26655px;

    background: #F0F0F0;
}

.label_prontidao_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 700px;
	top: 26625px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_prontidao_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 650px;
    top: 26655px;

    background: #F0F0F0;
}

.label_23_normal{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 26720px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_23_normal_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 950px;
	top: 26680px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_23_normal_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 900px;
    top: 26710px;

    background: #F0F0F0;
}

.label_23_normal_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1100px;
	top: 26680px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_23_normal_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1050px;
    top: 26710px;

    background: #F0F0F0;
}

.label_sobreaviso{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 26790px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_sobreaviso_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 550px;
	top: 26790px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_sobreaviso_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 500px;
    top: 26780px;

    background: #F0F0F0;
}

.label_sobreaviso_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 700px;
	top: 26790px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_sobreaviso_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 650px;
    top: 26780px;

    background: #F0F0F0;
}

.label_sobreaviso_13{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 26860px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_sobreaviso_13_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 950px;
	top: 26860px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_sobreaviso_13_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 900px;
    top: 26850px;

    background: #F0F0F0;
}

.label_sobreaviso_13_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1100px;
	top: 26860px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_sobreaviso_13_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1050px;
    top: 26850px;

    background: #F0F0F0;
}

.label_uniforme{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 26940px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_uniforme_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1150px;
	top: 26940px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_uniforme_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1100px;
    top: 26930px;

    background: #F0F0F0;
}

.label_uniforme_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1300px;
	top: 26940px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_uniforme_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1250px;
    top: 26930px;

    background: #F0F0F0;
}

.label_tempo_uniforme{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 27015px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.input_tempo_uniforme{
	position: absolute;
	width: 350px;
	height: 65px;
	left: 1000px;
	top: 27000px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_reforma{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 27090px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.label_reforma_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1050px;
	top: 27090px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_reforma_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1000px;
	top: 27080px;

    background: #F0F0F0;
}

.label_reforma_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1200px;
	top: 27090px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_reforma_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1150px;
    top: 27080px;

    background: #F0F0F0;
}

.label_sumula{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 27170px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_sumula_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 150px;
	top: 27230px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_sumula_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
	top: 27220px;

    background: #F0F0F0;
}

.label_sumula_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 300px;
	top: 27230px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_sumula_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 250px;
    top: 27220px;

    background: #F0F0F0;
}

.label_horas_pagas{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 27325px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_horas_pagas_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 750px;
	top: 27325px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_horas_pagas_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 700px;
	top: 27315px;

    background: #F0F0F0;
}

.label_horas_pagas_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 900px;
	top: 27325px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	
	color: #454242;
}

.input_horas_pagas_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 850px;
	top: 27315px;

    background: #F0F0F0;
}

.barra_lateral10{
	position: absolute;
	width: 730px;
	height: 0px;
	left: -310px;
	top: 27010px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_duracao_trabalho{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 27450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_poderes_gestao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 27510px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	
	color: #454242;
}

.label_poderes_gestao_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 150px;
	top: 27570px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_poderes_gestao_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
    top: 27600px;

    background: #F0F0F0;
}

.label_poderes_gestao_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 300px;
	top: 27570px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 109px;
	
	color: #454242;
}

.input_poderes_gestao_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 250px;
    top: 27600px;

    background: #F0F0F0;
}

.label_habitualidade{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 100px;
	top: 27700px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_habitualidade{
	position: absolute;
	width: 1390px;
	height: 150px;
	left: 100px;
	top: 27750px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_adicional{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 100px;
	top: 27950px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_adicional{
	position: absolute;
	width: 1390px;
	height: 150px;
	left: 100px;
	top: 28000px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_prorrogacao{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 100px;
	top: 28200px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_prorrogacao{
	position: absolute;
	width: 1390px;
	height: 150px;
	left: 100px;
	top: 28280px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_compensacao{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 100px;
	top: 28460px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_compensacao{
	position: absolute;
	width: 1390px;
	height: 150px;
	left: 100px;
	top: 28570px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_banco_horas{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 100px;
	top: 28750px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_banco_horas{
	position: absolute;
	width: 1390px;
	height: 150px;
	left: 100px;
	top: 28830px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_supressao_he{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 100px;
	top: 29000px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_supressao_he{
	position: absolute;
	width: 1390px;
	height: 150px;
	left: 100px;
	top: 29080px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_regime_escala{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 100px;
	top: 29250px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_regime_escala{
	position: absolute;
	width: 1390px;
	height: 150px;
	left: 100px;
	top: 29290px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.barra_lateral11{
	position: absolute;
	width: 1930px;
	height: 0px;
	left: -910px;
	top: 28460px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_trabalho_noturno{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 30px;
	top: 29490px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_empregado_era{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 100px;
	top: 29550px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_urbano{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 150px;
	top: 29600px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_urbano{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
    top: 29630px;

    background: #F0F0F0;
}

.label_rural_pec{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 150px;
	top: 29670px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_rural_pec{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
    top: 29700px;

    background: #F0F0F0;
}

.label_rural_lav{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 150px;
	top: 29740px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_rural_lav{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
    top: 29770px;

    background: #F0F0F0;
}

.label_advogado{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 150px;
	top: 29810px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_advogado{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 100px;
    top: 29840px;

    background: #F0F0F0;
}

.label_horario_prestacao{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 100px;
	top: 29950px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_horario_prestacao{
	position: absolute;
	width: 1390px;
	height: 80px;
	left: 100px;
	top: 30000px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_transf_horario{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 100px;
	top: 30100px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_transf_horario{
	position: absolute;
	width: 1390px;
	height: 150px;
	left: 100px;
	top: 30190px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.barra_lateral12{
	position: absolute;
	width: 790px;
	height: 0px;
	left: -340px;
	top: 29930px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}