.titulo_beneficios{
	position: absolute;
	width: 1242px;
	height: 84px;
	left: 110px;
	top: 13100px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 78px;

	color: #454242;
}

.titulo_beneficios:after{
	content: "";
	display: block;
	width: 1630px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_salario_natural{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 13200px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_beneficio_alimentacao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 110px;
    top: 13300px;

    background: #F0F0F0;
}

.label_beneficio_alimentacao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 160px;
	top: 13270px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_beneficio_moradia{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 800px;
    top: 13300px;

    background: #F0F0F0;
}

.label_beneficio_moradia{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 850px;
	top: 13270px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_beneficio_vestuario{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1100px;
    top: 13300px;

    background: #F0F0F0;
}

.label_beneficio_vestuario{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1150px;
	top: 13270px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_beneficio_outros{
	position: absolute;
	width: 700px;
	height: 65px;
	left: 270px;
	top: 13375px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_beneficio_outros{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 13350px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_beneficio_outros:after{
	content: "";
	display: block;
	width: 1620px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_vale_refeicao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 13500px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_vale_refeicao:after{
	content: "";
	display: block;
	width: 1620px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_vale_refeicao_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 650px;
	top: 13500px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_vale_refeicao_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 600px;
    top: 13530px;

    background: #F0F0F0;
}

.label_vale_refeicao_valor{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 780px;
	top: 13500px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_vale_refeicao_valor{
	position: absolute;
	width: 200px;
	height: 65px;
	left: 1040px;
	top: 13520px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_vale_refeicao_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1350px;
	top: 13500px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_vale_refeicao_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1300px;
    top: 13530px;

    background: #F0F0F0;
}

.label_cesta_basica{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 13650px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_cesta_basica:after{
	content: "";
	display: block;
	width: 1620px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_cesta_basica_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 650px;
	top: 13650px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_cesta_basica_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 600px;
    top: 13680px;

    background: #F0F0F0;
}

.label_cesta_basica_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 850px;
	top: 13650px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_cesta_basica_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 800px;
    top: 13680px;

    background: #F0F0F0;
}

.label_plr{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 13800px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_plr_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1150px;
	top: 13800px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_plr_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1100px;
    top: 13830px;

    background: #F0F0F0;
}

.label_plr_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1350px;
	top: 13800px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_plr_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1300px;
    top: 13830px;

    background: #F0F0F0;
}

.label_plr_valor{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 13900px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_plr_valor:after{
	content: "";
	display: block;
	width: 1620px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_plr_valor{
	position: absolute;
	width: 300px;
	height: 65px;
	left: 230px;
	top: 13920px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_plr_periodicidade{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 650px;
	top: 13900px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_plr_periodicidade{
	position: absolute;
	width: 300px;
	height: 65px;
	left: 950px;
	top: 13920px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_premios{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 14050px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_premios_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 850px;
	top: 14050px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_premios_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 800px;
    top: 14080px;

    background: #F0F0F0;
}

.label_premios_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1050px;
	top: 14050px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_premios_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1000px;
    top: 14080px;

    background: #F0F0F0;
}

.label_habitualmente{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 14150px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_habitualmente:after{
	content: "";
	display: block;
	width: 1620px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_habitualmente_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 550px;
	top: 14150px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_habitualmente_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 500px;
    top: 14180px;

    background: #F0F0F0;
}

.label_habitualmente_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 750px;
	top: 14150px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_habitualmente_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 700px;
    top: 14180px;

    background: #F0F0F0;
}

.label_vale_transporte{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 14300px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_vale_transporte:after{
	content: "";
	display: block;
	width: 1620px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_vale_transporte_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 720px;
	top: 14300px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_vale_transporte_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 670px;
    top: 14330px;

    background: #F0F0F0;
}

.label_vale_transporte_valor{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 850px;
	top: 14300px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_vale_transporte_valor{
	position: absolute;
	width: 300px;
	height: 65px;
	left: 1140px;
	top: 14320px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.label_vale_transporte_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1550px;
	top: 14300px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_vale_transporte_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1500px;
    top: 14330px;

    background: #F0F0F0;
}

.label_plano_saude{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 14450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_plano_saude:after{
	content: "";
	display: block;
	width: 1620px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_plano_saude_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 720px;
	top: 14450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_plano_saude_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 670px;
    top: 14480px;

    background: #F0F0F0;
}

.label_plano_saude_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 910px;
	top: 14450px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_plano_saude_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 860px;
    top: 14480px;

    background: #F0F0F0;
}

.label_salario_familia{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 14600px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_salario_familia_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 720px;
	top: 14600px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_salario_familia_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 670px;
    top: 14630px;

    background: #F0F0F0;
}

.label_salario_familia_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 910px;
	top: 14600px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_salario_familia_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 860px;
    top: 14630px;

    background: #F0F0F0;
}

.label_salario_familia_motivo{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 14700px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_salario_familia_motivo:after{
	content: "";
	display: block;
	width: 1620px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.input_salario_familia_motivo{
	position: absolute;
	width: 700px;
	height: 65px;
	left: 280px;
	top: 14720px;
	padding: 0px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	color: #000000;
}

.titulo_local_de_trabalho{
	position: absolute;
	width: 1242px;
	height: 84px;
	left: 110px;
	top: 14870px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 78px;

	color: #454242;
}

.titulo_local_de_trabalho:after{
	content: "";
	display: block;
	width: 1630px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}

.label_teletrabalho{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 15020px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_teletrabalho_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1050px;
	top: 15020px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_teletrabalho_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1000px;
    top: 15050px;

    background: #F0F0F0;
}

.label_teletrabalho_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1250px;
	top: 15020px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_teletrabalho_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1200px;
    top: 15050px;

    background: #F0F0F0;
}

.barra_lateral3{
	position: absolute;
	width: 2200px;
	height: 0px;
	left: -930px;
	top: 16210px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_contrato_individual{
	position: absolute;
	width: fit-content;
	height: 109px;
	left: 200px;
	top: 15100px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.textarea_contrato_individual{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 15180px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_atividades{
	position: absolute;
	width: fit-content;
	height: 109px;
	left: 200px;
	top: 15370px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_atividades{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 15450px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_comparecimento{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 15640px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_comparecimento{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 15720px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_horarios{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 15920px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_horarios{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 15990px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_regime{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 16150px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_regime{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 16270px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_despesas{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 16450px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_despesas{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 16530px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_convencao{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 16690px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_convencao{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 16770px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_local_contratacao{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 16940px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_local_contratacao{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 16980px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_local_trabalhava{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 17135px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_local_trabalhava{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 17180px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_outra_empresa{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 17400px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_outra_empresa_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1050px;
	top: 17400px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_outra_empresa_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1000px;
    top: 17430px;

    background: #F0F0F0;
}

.label_outra_empresa_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1250px;
	top: 17400px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_outra_empresa_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1200px;
    top: 17430px;

    background: #F0F0F0;
}

.label_quais_empresas{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 17530px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_quais_empresas{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 17580px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_atividades_executadas{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 17750px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_atividades_executadas{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 17800px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_empresa_terceira{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 17950px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_empresa_terceira{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 18050px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.barra_lateral4{
	position: absolute;
	width: 650px;
	height: 0px;
	left: -150px;
	top: 17850px;
	
	border: 5px solid #BEA469;
	transform: rotate(90deg);
}

.label_transferido{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 110px;
	top: 18200px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_transferido_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 550px;
	top: 18200px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_transferido_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 500px;
    top: 18230px;

    background: #F0F0F0;
}

.label_qual_periodo{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 650px;
	top: 18200px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_qual_periodo{
	position: absolute;
	width: 209px;
	height: 65px;
	left: 950px;
	top: 18220px;
	padding: 10px 20px;
	box-sizing: border-box;
	
	background: #F0F0F0;
	border-radius: 40px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_transferido_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1250px;
	top: 18200px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_transferido_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1200px;
    top: 18230px;

    background: #F0F0F0;
}

.label_transferencia{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 18345px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.label_transferencia_provisoria{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 700px;
	top: 18310px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_transferencia_provisoria{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 650px;
    top: 18340px;

    background: #F0F0F0;
}

.label_transferencia_definitiva{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1000px;
	top: 18310px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_transferencia_definitiva{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 950px;
    top: 18340px;

    background: #F0F0F0;
}

.label_qual_local{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 18450px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_qual_local{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 18500px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_mudanca_endereco{
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 200px;
	top: 18700px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 35px;
	
	color: #454242;
}

.textarea_mudanca_endereco{
	position: absolute;
	width: 1436px;
	height: 141px;
	left: 200px;
	top: 18750px;
	padding: 10px 20px;
	box-sizing: border-box;
	resize: none;
	
	background: #F0F0F0;
	border-radius: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
}

.label_adicional_transf{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 200px;
	top: 18900px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.label_adicional_transf_sim{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1200px;
	top: 18900px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_adicional_transf_sim{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1150px;
    top: 18930px;

    background: #F0F0F0;
}

.label_adicional_transf_nao{
    position: absolute;
	width: fit-content;
	height: 109px;
	left: 1400px;
	top: 18900px;
	

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 109px;
	
	color: #454242;
}

.input_adicional_transf_nao{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1350px;
    top: 18930px;

    background: #F0F0F0;
}

.label_adicional_transf:after{
	content: "";
	display: block;
	width: 1630px;
	height: 3px;
	background: #BEA469;
	margin: 8px auto;
}